<!DOCTYPE html>
<html>
<head>
	<title>[sitename]</title>
</head>
<body>
<h1>Welcome to [sitename]!</h1>
<p>This is your first template created using <a href="[sitepath]" target="_new">Cherryade</a>.<br />
You're currently viewing index.php, which is reading the template file from templates/template.html. You can<br />
easily edit template.html to your liking, you can even rename it to index.html (as it would make more sence <br />
as you are viewing index.php), however you must ensure you're calling the right template file from index.php.
</body>
</html>